extends layout

append css
	link(rel="stylesheet", type="text/css", href=`./css/index${min}.css`)

append js
	script(type="text/javascript", src=`./js/index${min}.js`)

block content
	h1 Hello World!
	i by bagazhu
